.main{
  @apply w-full h-[381px] mt-6 bg-white rounded-[16px] p-8;
  foo: bar;

  .header{
    @apply font-roboto text-[#424242] text-[24px];
    foo: bar;
  }

  .sort_buttons_container{
    @apply h-[28px] inline-flex mr-2  border-[1px] rounded items-center justify-between px-3;
    foo: bar;
  }

  .fav_container{
    @apply w-full h-[260px] overflow-x-scroll scrollbar-thin overflow-scroll scrollbar-thumb-[#41522E] pr-2;
    foo: bar;
  }
}