.main{
  @apply w-full h-[100px] flex pr-3 border-b border-b-[#878787];
  foo: bar;

  .right_part{
    @apply w-3/4 h-full flex;
    foo: bar;

    .header{
      @apply p-[10px] max-w-full;
      foo: bar;

      .stars_container{
        @apply flex my-3;
        foo: bar;
      }
    }
  }

  .left_part{
    @apply w-1/4 h-full flex flex-col items-end justify-around px-2;
    foo: bar;

    .price_container{
      @apply flex items-center w-full justify-around;
      foo: bar;

      .price{
        @apply text-[11px] text-[#878787];
        foo: bar;
      }

      .price_number{
        @apply text-[17px] text-[#424242];
        foo: bar;
      }
    }
  }
}